# Don't track content of these folders
venv
venv/
venv/*

AMPATH
AMPATH/
AMPATH/*

ServiceStatus/static
ServiceStatus/static/
ServiceStatus/static/*

status/migrations
status/migrations/
status/migrations/*

ServiceStatus/settings.py
status/tests_settings.py

.DS_Store

.idea
.idea/
.idea/*
.idea/*.xml
.idea/*.iml
.idea/dictionaries

__pycache__
__pycache__/
__pycache__/*

htmlcov
htmlcov/
htmlcov/*

sent_emails/*.log

.coverage
.coverage.*
coverage.xml
*.cover
.coveragerc

.gitignore